<%= form_for(@item, html: { multipart: true, "data-ajax" => false }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div id="test">
      <div class="wrapper">
        <%= f.file_field :photo %>
      </div>
    </div>
  </div>

  <div class="input-group">
    <span class="input-group-addon">名称</span>
    <%= f.text_field :title, class: 'form-control border-bottom-radius' %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">介绍</span>
    <%= f.text_area :description, class: 'form-control border-top-radius border-bottom-radius' %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">价格</span>
    <%= f.text_field :price, class: 'form-control border-top-radius' %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit '提交', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
