<!--Display Page-->
<div data-role="page" data-theme="b" id="page">

  <!--Image Gallery -->
  <div data-role="content" id="content">
  <!-- Slider -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= image_tag('show1.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show2.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show3.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show4.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show5.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show6.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show7.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show8.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show9.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show10.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show11.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show12.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show13.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show14.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show15.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show16.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show17.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show18.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show19.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show20.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show21.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show22.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show23.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show24.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show25.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show26.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show27.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show28.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show29.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show30.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show31.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show32.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show33.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show34.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show35.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show36.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show37.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show38.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show39.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show40.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show41.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show42.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show43.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show44.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show45.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show46.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show47.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show48.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show49.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show50.jpg') %>
        </div>
        <div class="swiper-slide">
          <%= image_tag('show51.jpg') %>
        </div>
        <% @items.each do |item| %>
          <div class="swiper-slide">
            <%= image_tag item.photo.url(:iphone5) %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- ImageInfomation -->
    <div id="imginfo">
      <div>
        <p class="title">名称: show1</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show1 is good.</p>
      </div>
      <div>
        <p class="title">名称: show2</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show2 is good.</p>
      </div>
      <div>
        <p class="title">名称: show3</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show3 is good.</p>
      </div>
      <div>
        <p class="title">名称: show4</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show4 is good.</p>
      </div>
      <div>
        <p class="title">名称: show5</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show5 is good.</p>
      </div>
      <div>
        <p class="title">名称: show6</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show6 is good.</p>
      </div>
      <div>
        <p class="title">名称: show7</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show7 is good.</p>
      </div>
      <div>
        <p class="title">名称: show8</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show8 is good.</p>
      </div>
      <div>
        <p class="title">名称: show9</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show9 is good.</p>
      </div>
      <div>
        <p class="title">名称: show10</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show10 is good.</p>
      </div>
      <div>
        <p class="title">名称: show11</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show11 is good.</p>
      </div>
      <div>
        <p class="title">名称: show12</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show12 is good.</p>
      </div>
      <div>
        <p class="title">名称: show13</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show13 is good.</p>
      </div>
      <div>
        <p class="title">名称: show14</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show14 is good.</p>
      </div>
      <div>
        <p class="title">名称: show15</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show15 is good.</p>
      </div>
      <div>
        <p class="title">名称: show16</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show16 is good.</p>
      </div>
      <div>
        <p class="title">名称: show17</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show17 is good.</p>
      </div>
      <div>
        <p class="title">名称: show18</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show18 is good.</p>
      </div>
      <div>
        <p class="title">名称: show19</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show19 is good.</p>
      </div>
      <div>
        <p class="title">名称: show20</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show20 is good.</p>
      </div>
      <div>
        <p class="title">名称: show21</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show21 is good.</p>
      </div>
      <div>
        <p class="title">名称: show22</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show22 is good.</p>
      </div>
      <div>
        <p class="title">名称: show23</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show23 is good.</p>
      </div>
      <div>
        <p class="title">名称: show24</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show24 is good.</p>
      </div>
      <div>
        <p class="title">名称: show25</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show25 is good.</p>
      </div>
      <div>
        <p class="title">名称: show26</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show26 is good.</p>
      </div>
      <div>
        <p class="title">名称: show27</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show27 is good.</p>
      </div>
      <div>
        <p class="title">名称: show28</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show28 is good.</p>
      </div>
      <div>
        <p class="title">名称: show29</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show29 is good.</p>
      </div>
      <div>
        <p class="title">名称: show30</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show30 is good.</p>
      </div>
      <div>
        <p class="title">名称: show31</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show31 is good.</p>
      </div>
      <div>
        <p class="title">名称: show32</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show32 is good.</p>
      </div>
      <div>
        <p class="title">名称: show33</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show33 is good.</p>
      </div>
      <div>
        <p class="title">名称: show34</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show34 is good.</p>
      </div>
      <div>
        <p class="title">名称: show35</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show35 is good.</p>
      </div>
      <div>
        <p class="title">名称: show36</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show36 is good.</p>
      </div>
      <div>
        <p class="title">名称: show37</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show37 is good.</p>
      </div>
      <div>
        <p class="title">名称: show38</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show38 is good.</p>
      </div>
      <div>
        <p class="title">名称: show39</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show39 is good.</p>
      </div>
      <div>
        <p class="title">名称: show40</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show40 is good.</p>
      </div>
      <div>
        <p class="title">名称: show41</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show41 is good.</p>
      </div>
      <div>
        <p class="title">名称: show42</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show42 is good.</p>
      </div>
      <div>
        <p class="title">名称: show43</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show43 is good.</p>
      </div>
      <div>
        <p class="title">名称: show44</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show44 is good.</p>
      </div>
      <div>
        <p class="title">名称: show45</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show45 is good.</p>
      </div>
      <div>
        <p class="title">名称: show46</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show46 is good.</p>
      </div>
      <div>
        <p class="title">名称: show47</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show47 is good.</p>
      </div>
      <div>
        <p class="title">名称: show48</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show48 is good.</p>
      </div>
      <div>
        <p class="title">名称: show49</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show49 is good.</p>
      </div>
      <div>
        <p class="title">名称: show50</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show50 is good.</p>
      </div>
      <div>
        <p class="title">名称: show51</p>
        <p class="price">价格: 100元</p>
        <p class="desc">show51 is good.</p>
      </div>
      <% @items.each do |item| %>
        <div>
          <p class="title">名称: <%= item.title %></p>
          <p class="price">价格: <%= item.price %>元</p>
          <p class="desc"><%= item.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="pagination">
</div>
<script>
var mySwiper = new Swiper('.swiper-container', {
  pagination: '.pagination',
  freeMode: true,
  freeModeFluid: true
})
</script>
